$navbarBg: #1A0001;
$navbarActiveBg: #4F2100;
$navbarActiveTxt: #FFCC35;

$tabBg: #C3984A;
$tabActive: #5F3A2A;
$titleBorder: #5F3A2A;
$featureTitle: #841347;

$tagBgNew: #8E0C62;
$tagBgEvt: #CD3625;
$tagBgSys: #949628;